<div class="jumbotron">
  <div class="container">
    <div class="pull-right" style="margin-top: 10px;">
      <img src="assets/images/llama-heading.png" alt="Llama" style="margin-top: 20px; height: 225px;">
    </div>
    <h1>Llama Ranch</h1>
    <p style="text-align: justify;">
      Here you can see how to process credit card payments or recurring payments (subscriptions) through your PHP
      applications by using PAYMILL. PAYMILL is a payment gateway that is easy to set up and which is very developer
      friendly.
    </p>
    <p><a href="https://github.com/nikoloff/llama-kisses" class="btn btn-primary btn-lg" role="button" rel="external">Learn more »</a></p>
  </div>
</div>
{% if current_user is null %}
  {% include 'pages/offers.html' %}
{% else %}
  {% include 'pages/selected-offer.html' %}
{% endif %}
