<div class="jumbotron">
  <div class="container">
    <div class="pull-right">
      <img src="assets/images/llama-heading.png" alt="Llama" style="margin-top: 20px; height: 225px;">
    </div>
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
  </div>
</div>
{% if current_user is null %}
  {% include 'Pages/offers.html' %}
{% else %}
  {% include 'Pages/selected-offer.html' %}
{% endif %}
