<div class="jumbotron">
  <div class="container">
    <div class="pull-right">
      <img src="assets/images/llama-heading.png" alt="Llama" style="margin-top: 20px; height: 225px;">
    </div>
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
  </div>
</div>

<!-- Begin page content -->
<div class="container">
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Never Been Kissed</h3>
      </div>
      <div class="panel-body">
        <div class="the-price">
          <h1>5€<span class="subscript">/mo</span></h1>
          <small>1 month FREE trial</small>
          <div>
            <h3>3 Kisses</h3>
            <span>each month</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="index.php?controller=users&action=init&offer_id=1" class="btn btn-success" role="button">Sign Up</a>
        1 month FREE trial
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Can't Get Enought</h3>
      </div>
      <div class="panel-body">
        <div class="the-price">
          <h1>12€<span class="subscript">/mo</span></h1>
          <small>1 month FREE trial</small>
          <div>
            <h3>10 Kisses</h3>
            <span>each month</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="index.php?controller=users&action=init&offer_id=2" class="btn btn-success" role="button">Sign Up</a>
        1 month FREE trial
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-danger">
      <div class="cnrflash">
        <div class="cnrflash-inner">
          <span class="cnrflash-label">MOST<br />POPULR</span>
        </div>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Pure Bliss</h3>
      </div>
      <div class="panel-body">
        <div class="the-price">
          <h1>49€<span class="subscript">/mo</span></h1>
          <small>1 month FREE trial</small>
          <div>
            <h3>100 Kisses</h3>
            <span>each month</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="index.php?controller=users&action=init&offer_id=3" class="btn btn-success" role="button">Sign Up</a>
        1 month FREE trial
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">I'm in Haven</h3>
      </div>
      <div class="panel-body">
        <div class="the-price">
          <h1>99€<span class="subscript">/mo</span></h1>
          <small>1 month FREE trial</small>
          <div>
            <h3>250 Kisses</h3>
            <span>each month</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="index.php?controller=users&action=init&offer_id=4" class="btn btn-success" role="button">Sign Up</a>
        1 month FREE trial
      </div>
    </div>
  </div>

</div>
