<div class="col-xs-12 col-md-3">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Can't Get Enough</h3>
    </div>
    <div class="panel-body">
      {% if offer_id is not null %}
        <div class="the-price" style="padding: 52px 20px;">
      {% else %}
        <div class="the-price">
      {% endif %}
        <h1>12€<span class="subscript">/mo</span></h1>
        <small>1 month FREE trial</small>
        <div>
          <h3>10 Kisses</h3>
          <span>each month</span>
        </div>
      </div>
    </div>
    {% if offer_id is null %}
    <div class="panel-footer">
      <a href="index.php?controller=users&action=init&offer_id=2" class="btn btn-success" role="button">Sign Up</a>
      1 month FREE trial
    </div>
    {% endif %}
  </div>
</div>
