<div class="col-xs-12 col-md-3">
  <div class="panel panel-danger">
    {% if offer_id is null %}
      <div class="cnrflash">
        <div class="cnrflash-inner">
          <span class="cnrflash-label">MOST<br />POPULR</span>
        </div>
      </div>
    {% endif %}
    <div class="panel-heading">
      <h3 class="panel-title">Pure Bliss</h3>
    </div>
    <div class="panel-body">
      <div class="the-price">
        <h1>49€<span class="subscript">/mo</span></h1>
        <small>1 month FREE trial</small>
        <div>
          <h3>100 Kisses</h3>
          <span>each month</span>
        </div>
      </div>
    </div>
    {% if offer_id is null %}
    <div class="panel-footer">
      <a href="index.php?controller=users&action=init&offer_id=3" class="btn btn-success" role="button">Sign Up</a>
      1 month FREE trial
    </div>
    {% endif %}
  </div>
</div>
