<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 well well-sm">
      <legend><i class="glyphicon glyphicon-globe"></i> Sign up!</legend>
      <form action="/index.php?controller=users&action=create" method="post" class="form" role="form">
        <input class="form-control" name="user[email]" placeholder="Your Email *" type="email" />
        <input class="form-control" name="user[password]" placeholder="Password *" type="password" />
        <input class="form-control" name="user[password_confirmation]" placeholder="Re-enter password *" type="password" />
        <input class="form-control" name="user[name]" placeholder="Full Name" type="text" />
        <input class="form-control" name="offer_id" value="{{ offer }}" type="hidden" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>
